:root {
    --bg: #ffffff;
    --muted: #9ca3af;
    --fg: #000000;
    --bg2: #e9f5ff;
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    --hg: rgb(46, 183, 183);
    --bg3: linear-gradient(to bottom, #82c9d0a9, #92aacf8f);
    --line: #8492a6c0;

}

body.dark-mode {
    --bg: #111111;
    --fg: #e6e6e6;
    --muted: #555;
    --bg2: #1f3540;
    --hg: #80649a;
    --bg3: linear-gradient(to bottom, #0b4e52a4, #3e13688f);
    --line: #53565bc0;

}

body {
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--bg);
    color: var(--fg);
    background: var(--bg3);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    backdrop-filter: blur(10px);
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1000;
    align-items: center;
    transition: transform .15s ease, box-shadow .15s ease;
}

.navbar a {
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;

}

.navbar a:hover {
    border-radius: 5px;
}
